@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background: url('media/back_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 50px 100px;
}

.time {
    position: absolute;
    top: 80px;
    right: 25%;
    left: 25%;
}

.time * {
    font-weight: 400;
}

.time .clock {
    font-size: 100px;
}

.ampm {
    font-size: 25px;
    margin-left: 5px;
}

.date {
    font-size: 40px;
    margin: 0 10px 20px 10px;
}

.daate {
    margin: 0 10px;
}

.title {
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 55px;
}

.input_search {
    display: flex;
    justify-content: center;
}

.cityy, .code {
    padding: 10px;
    outline: none;
    width: 100%;
    background: #fff;
    border: none;
}

.code {
    outline: none;
    margin-left: 10px;
}

.btn {
    margin-left: -6px;
    outline: none;
    padding: 4px 4px 0 0;
    background: #fff;
    border: none;
    cursor: pointer;
}
.search_icon {
    width: 33px;
    height: 23px;
}

.getBtn, .clearBtn {
    margin: 20px 0 0;;
    padding: 10px;
    background: rgba(52, 43, 24, 0.4);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.clearBtn {
    position: absolute;
    top: 620px;
    left: 40%;
    right: 40%;
}

.getBtn:hover, .clearBtn:hover {
    background: rgba(52, 43, 24, 1);
}

.alternative {
    color: white;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}

.result {
    margin-top: 20px;
}

.loader {
    border-top: 4px solid white;
    position: absolute;
    top: 400px;
    left: 47%;
    right: 40%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

.loader_text {
    position: absolute;
    top: 480px;
    left: 29%;
    right: 30%;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.location .loc_icon {
    width: 25px;
    height: 32px;
    color: white;
}

.location .city {
    display: inline-block;
    font-size: 35px;
    font-weight: 500;
}

.forecast {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400;
}

.degrees {
    font-size: 40px;
    margin: 15px 0 0 10px;
    font-weight: 400;
}

.result h1 {
    font-size: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.humid_wspeed {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    border-top: 1px solid gray;
}

.humid_wspeed p:nth-child(2) span {
    margin-right: 5px;
}

.humidity {
    padding-top: 10px;
    padding-right: 10px;
}

.wspeed {
    border-left: 1px solid gray;
    padding-left: 20px;
    padding-top: 10px;
}

/* // =============== MEDIA QUERY (400px max) =============== */

@media screen and (min-width: 400px) and (max-width: 500px) {
    .time {
        position: absolute;
        top: 60px;
        right: 24%;
        left: 26%;
    }
    
    .time * {
        font-weight: 400;
    }
    
    .time .clock {
        font-size: 90px;
        margin: 0 0 0 -10px;
    }
    
    .ampm {
        font-size: 25px;
        margin-left: 5px;
    }
    
    .date {
        font-size: 30px;
        margin: 0 10px 20px -20px;
    }
    
    .daate {
        margin: 0 10px;
    }
    
    .title {
        font-weight: 400;
        margin: 30px 0 10px 0;
        font-size: 30px;
    }
    .input_search {
        display: flex;
        justify-content: center;
    }
    
    .cityy, .code {
        padding: 10px;
        outline: none;
        width: 120px;
        background: #fff;
        border: none;
    }

    .clearBtn {
        position: absolute;
        top: 70%;
        left: 40%;
        right: 40%;
    }
    
    .getBtn:hover, .clearBtn:hover {
        background: rgba(52, 43, 24, 1);
    }
    
    .alternative {
        color: white;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .result {
        margin-bottom: 0px;
    }

    .location .city {
        display: inline-block;
        font-size: 25px;
        font-weight: 500;
        margin-top: 20px;
    }

    .loader {
        border-top: 4px solid white;
        position: absolute;
        top: 400px;
        left: 44%;
        right: 40%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        animation: loading 1s ease infinite;
    }
    
    .loader_text {
        position: absolute;
        top: 52%;
        left: 33%;
        right: 30%;
    }

    .forecast {
        font-size: 25px;
    }

    .loader {
        border-top: 4px solid white;
        position: absolute;
        top: 400px;
        left: 43%;
        right: 40%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        animation: loading 1s ease infinite;
    }
    
    .loader_text {
        position: absolute;
        top: 480px;
        left: 30%;
        right: 30%;
    }
}

@media screen and (max-width: 399px) {
    .time {
        position: absolute;
        top: 60px;
        right: 24%;
        left: 26%;
    }
    
    .time * {
        font-weight: 400;
    }
    
    .time .clock {
        font-size: 60px;
        margin: 0 0 0 -10px;
    }
    
    .ampm {
        font-size: 25px;
        margin-left: 5px;
    }
    
    .date {
        font-size: 22px;
        margin: 0 10px 20px -20px;
    }
    
    .daate {
        margin: 0 10px;
    }
    
    .title {
        font-weight: 400;
        margin: 30px 0 10px 0;
        font-size: 30px;
    }
    .input_search {
        display: flex;
        justify-content: center;
    }
    
    .cityy, .code {
        padding: 10px;
        outline: none;
        width: 80px;
        background: #fff;
        border: none;
    }

    .clearBtn {
        position: absolute;
        top: 73%;
        left: 40%;
        right: 40%;
    }
    
    .getBtn {
        width: 140px;
        margin: 30px 0 20px;
    }
    
    .alternative {
        color: white;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .result {
        margin-bottom: 0px;
    }

    .location .city, .loc_icon {
        display: inline-block;
        font-size: 23px;
        font-weight: 500;
        margin-top: 20px;
    }

    .loader {
        border-top: 4px solid white;
        position: absolute;
        top: 10%;
        left: 44%;
        right: 40%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        animation: loading 1s ease infinite;
    }
    
    .loader_text {
        position: absolute;
        top: 40%;
        left: 33%;
        right: 30%;
    }

    .forecast {
        font-size: 20px;
    }

    .loader {
        border-top: 4px solid white;
        position: absolute;
        top: 400px;
        left: 43%;
        right: 40%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        animation: loading 1s ease infinite;
    }
    
    .loader_text {
        position: absolute;
        top: 480px;
        left: 30%;
        right: 30%;
    }

    .humidity {
        padding-top: 10px;
        padding-right: 10px;
        font-size: 15px;
    }
    
    .wspeed {
        border-left: 1px solid gray;
        padding-left: 20px;
        padding-top: 10px;
        font-size: 15px;
    }
}